@font-face {
    font-family: 'Poppins';
    src: url(../assets/fonts/Poppins-Light.ttf);
}

html {
    font-size: 16px;
}
h3{
    color: white;
    font-weight:bold;
    font-family:'Poppins';
    font-size: medium;
}

p{
    color: white;
    font-family:'Poppins';
}

h1{
    color: white;
    font-weight:bold;
    font-family:'Poppins';
    font-size: 150%;
    font-weight: bolder;
}

h2{
    color: white;
    font-weight:bold;
    font-family:'Poppins';
    border-radius:1;
}

#caixa-do-ranking {
    background-color: #5125adff;
    border-radius:1%;
    padding: 20px;
    display:block;;
}

.alinhamento-ranking {
    display: inline-block;
    align-items: center;
}

#imagem-ranking1 {
    margin-left: 10px;
    margin-top: 20px;
    display:block;
    float: left;
}

#imagem-ranking2 {
    margin-left: 10px;
    margin-top: 20px;
    display:block;
    float: left;
    
}

#imagem-ranking3 {
    margin-left: 10px;
    margin-top: 20px;
    display:block;
    float: left;
}

#texto-ranking1 {
    display:block;
    margin-left: 15px;
    margin-top: 10px;
    float: right;
}

#texto-ranking2 {
    display:block;
    margin-left: 15px;
    margin-top: 10px;
    float: right;
}

#texto-ranking3 {
    display:block;
    margin-left: 15px;
    margin-top: 10px;
    float: right;
}

#post1{
    background-color:#5125adff;
    border-radius:1;
}

#post2{
    background-color:#5125adff;
    border-radius:1%;
}
